<div class="row">
	<div class="container">
		<p>This is the partial for view 2.</p>
		<p>
		  Showing of 'interpolate' filter:
		  {{ 'Current version is v%VERSION%.' | interpolate }}
		</p>
	</div>
	<div class="container">
		<form class="form form-horizontal form-group">
			<div class="form-control">
				<input type="text" name="textToSvg" ng-model="svg.text" placeholder="Text to SVG Online Creator">
				<input type="text" name="fill" ng-model="svg.fill" placeholder="Fill Color">
				<input type="text" name="stroke" ng-model="svg.stroke" placeholder="Stroke Color">
				<input type="text" name="font" ng-model="svg.font" placeholder="Font Family">
				<input type="text" name="size" ng-model="svg.size" placeholder="Font size">
				<input type="text" name="anchor" ng-model="svg.anchor" placeholder="Anchor">
				<a class="btn btn-default" ng-click="renderSVG()">SVG render</a>			
			</div>
		</form>
	</div>
</div>
<div class="container">
	<div id="draw_area" class="row"></div>
</div>
